AirQuality/Nodered.txt
[
    {
        "id": "c03df10425d6d32d",
        "type": "tab",
        "label": "Air Monitor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78c339ba1f2fb4b1",
        "type": "mqtt in",
        "z": "c03df10425d6d32d",
        "name": "",
        "topic": "TEMPERATURE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1944536e200de019",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "8e5c4b747ac4448c"
            ]
        ]
    },
    {
        "id": "8e5c4b747ac4448c",
        "type": "rbe",
        "z": "c03df10425d6d32d",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "f493a602fddb13d8",
                "6925103ce8ab03f5",
                "431a9a931cd99304"
            ]
        ]
    },
    {
        "id": "431a9a931cd99304",
        "type": "ui_gauge",
        "z": "c03df10425d6d32d",
        "name": "",
        "group": "2f8ef367fdd94c57",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Level",
        "label": "° C",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "6925103ce8ab03f5",
        "type": "ui_text",
        "z": "c03df10425d6d32d",
        "group": "2f8ef367fdd94c57",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperature Value",
        "label": "TemperatureValue",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 80,
        "wires": [],
        "inputLabels": [
            "Temp"
        ],
        "icon": "font-awesome/fa-bomb",
        "info": "**Temperature Value**"
    },
    {
        "id": "f493a602fddb13d8",
        "type": "ui_chart",
        "z": "c03df10425d6d32d",
        "name": "",
        "group": "2f8ef367fdd94c57",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f7530da67ba0527e",
        "type": "rbe",
        "z": "c03df10425d6d32d",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 510,
        "y": 440,
        "wires": [
            [
                "ac4c7f94c8e5e487",
                "ab1bfc770a9c5ba0",
                "0baa35b0e6b90694"
            ]
        ]
    },
    {
        "id": "ab1bfc770a9c5ba0",
        "type": "ui_text",
        "z": "c03df10425d6d32d",
        "group": "d29e4690054bb2d7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "AirQuality",
        "label": "AirQuality",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 360,
        "wires": [],
        "inputLabels": [
            "Temp"
        ],
        "icon": "font-awesome/fa-bomb",
        "info": "**Temperature Value**"
    },
    {
        "id": "ac4c7f94c8e5e487",
        "type": "ui_chart",
        "z": "c03df10425d6d32d",
        "name": "",
        "group": "d29e4690054bb2d7",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "AirQuality",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0baa35b0e6b90694",
        "type": "ui_gauge",
        "z": "c03df10425d6d32d",
        "name": "",
        "group": "d29e4690054bb2d7",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "AirQuality",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 540,
        "wires": []
    },
    {
        "id": "eba87a6c1e013eea",
        "type": "mqtt in",
        "z": "c03df10425d6d32d",
        "name": "",
        "topic": "AIR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1944536e200de019",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 420,
        "wires": [
            [
                "f7530da67ba0527e"
            ]
        ]
    },
    {
        "id": "6b9bcbdb65e7e3e2",
        "type": "ui_spacer",
        "z": "c03df10425d6d32d",
        "name": "spacer",
        "group": "d29e4690054bb2d7",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "671bac3621e6bf4b",
        "type": "ui_spacer",
        "z": "c03df10425d6d32d",
        "name": "spacer",
        "group": "2f8ef367fdd94c57",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "1944536e200de019",
        "type": "mqtt-broker",
        "name": "",
        "broker": "rabbitmq.youngstorage.in",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2f8ef367fdd94c57",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "610f420b527c2933",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d29e4690054bb2d7",
        "type": "ui_group",
        "name": "AirQuality",
        "tab": "610f420b527c2933",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "610f420b527c2933",
        "type": "ui_tab",
        "name": "AirQuality",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]